{% extends 'healthwithfriends/base.html' %}
{% block content %}
    {% load widget_tweaks %}
    <div id="app">
        {% csrf_token %}
        <h1 class="text-center m-4" id="title"><b>Settings</b></h1>
        <div class="container" v-for="u in user">
            <div class="contentContainer">
                <h4>Change Password</h4>
                <div class="mt-4"></div>
                <div class="d-flex justify-content-center align-items-center">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                            {% render_field form.old_password type="password" class="form-control input_pass" placeholder="Current Password" %}
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                            {% render_field form.new_password1 type="password" class="form-control input_pass" placeholder="New Password" %}
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                            {% render_field form.new_password2 type="password" class="form-control input_pass" placeholder="Confirm Password" %}
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">Save changes</button>
                    </form>
                </div>
                <div class="mt-4">
                    <ul style="list-style: none">
                        <li>Your password can't be too similar to your other personal information.</li>
                        <li>Your password must contain at least 8 characters.</li>
                        <li>Your password can't be a commonly used password.</li>
                        <li>Your password can't be entirely numeric.</li>
                    </ul>
                </div>
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger" style="margin-right: 25%; margin-left: 25%; font-size: medium">
                                <b>{{ error|escape }}</b>
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            </div>
            <div class="contentContainer">
                <h4>Preferences</h4>
                <table class="table">
                    <tbody v-for="u in user">
                    <tr>
                        <th scope="row">Height:</th>
                        <td id="private">
                            <a>Metric</a>
                        </td>
                        <td>
                            <div class="form-check form-switch" style="text-align: left">
                                <input v-if="u.preferences['height_units']" class="form-check-input" type="checkbox" id="height_units" @click='updatePreference(u)'  checked>
                                <input v-else class="form-check-input" type="checkbox" id="height_units" @click='updatePreference(u)'public>
                                <label class="form-check-label" for="height_units">Imperial</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Weight:</th>
                        <td id="private">
                            <a>Metric</a>
                        </td>
                        <td>
                            <div class="form-check form-switch" style="text-align: left">
                                <input v-if="u.preferences['weight_units']" class="form-check-input" type="checkbox" id="weight_units" @click='updatePreference(u)'  checked>
                                <input v-else class="form-check-input" type="checkbox" id="weight_units" @click='updatePreference(u)'>
                                <label class="form-check-label" for="weight_units">Imperial</label>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <style>
        .errorlist {
            list-style: none;
        }
        th{
            text-align: right;
            width: 45%;
        }
        tr{
            color: white;
            font-size: 1.05em;
        }
        #private{
            width: 0;
            text-align: right;
        }

    </style>
    {% block scripts %}
        <script>
            let myApp = Vue.createApp({
                delimiters: ["[[", "]]"],
                data() {
                    return {
                        user: [],
                    }
                },
                async created(){
                    let response = await fetch("{% url 'user api' %}");
                    if (response.ok) {
                        let data = await response.json();
                        this.user = data.user;
                        console.log(data.user[0]);
                    } else {
                        alert("failed to load user");
                    }
                },
                methods: {
                    async updatePreference(user){
                        console.log("Method was called.")
                        let response = await fetch(user.update_preferences_api, {
                            method: 'PUT_UNITS', // Method itself
                            body: JSON.stringify({
                                height_units: (Number(document.getElementById("height_units").checked)),
                                weight_units: (Number(document.getElementById("weight_units").checked)),
                            }), // We send data in JSON format
                            headers: {
                                "Content-Type": "application/json",
                                "X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken]").value,
                            },
                        });
                        if(response.ok){
                            let response2 = await fetch("{% url 'user api' %}")
                            if(response2.ok){
                                let data2 = await response2.json();
                                this.user = data2.user;
                            }
                            else{
                                alert("failed to load list of users");
                            }
                        }
                        else{
                            alert("failed to update user");
                        }
                    },
                }
            })
            myApp.mount('#app');
        </script>
    {% endblock %}
{% endblock %}