{% extends 'healthwithfriends/base.html' %}
{% block content %}
    <div id="app">
        <div class="container">
            <p>You will be redirected to the <b>Home page</b> in <b>5 seconds.</b></p>
        </div>
    </div>
    <style>
        p {
            text-align: center;
        }
    </style>
{% endblock %}

{% block script %}
    <script>
        function Redirect()
        {
            window.location="{% url 'signed in' %}";
        }
        setTimeout('Redirect()', 3000);
    </script>
{% endblock %}